[Desktop Entry]
Version=1.0
Name=SEFIDE
Comment=SEcure FIle DEstructor
Exec=python3 /usr/bin/sefide.py
Icon=/usr/share/icons/hicolor/48x48/apps/sefidelo.png
Terminal=false
Type=Application
Categories=Utility

Name[tr_TR]=SEFIDE
